.alert {
    margin-top: 20px;
}

/* Profile Section */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-section img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.profile-section input[type="file"] {
    margin-top: 10px;
}


